<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
	<!-- Miscellaneous Keys -->
	<ATR_ModTitle>Android Tiers Reforged</ATR_ModTitle>

	<ATR_RestartRequired>Restart Required.</ATR_RestartRequired>
	<ATR_RestartRequiredSectionDesc>Any changes to settings in this section require restarting the game.</ATR_RestartRequiredSectionDesc>
	<ATR_RestartRequiredPostDesc>Some changed settings require restarting the game for safety.</ATR_RestartRequiredPostDesc>


    <ATR_ExpandMenu>Expand/Collapse</ATR_ExpandMenu>

	<!-- Mod Settings Page Keys -->
	<ATR_SettingsTabTitle>Configurations</ATR_SettingsTabTitle>

	<ATR_SettingsTabOption_Folded>&lt;</ATR_SettingsTabOption_Folded>
	<ATR_SettingsTabOption_General>General</ATR_SettingsTabOption_General>
	<ATR_SettingsTabOption_Power>Power</ATR_SettingsTabOption_Power>
	<ATR_SettingsTabOption_Security>Security</ATR_SettingsTabOption_Security>
	<ATR_SettingsTabOption_Health>Health</ATR_SettingsTabOption_Health>
	<ATR_SettingsTabOption_Connectivity>Connectivity</ATR_SettingsTabOption_Connectivity>
	<ATR_SettingsTabOption_Stats>Stats</ATR_SettingsTabOption_Stats>

	<!-- General Settings -->
	<ATR_ApplyPreset>Apply Preset</ATR_ApplyPreset>

		<!-- Gender Settings -->
	<ATR_AndroidGenderNotice>Changes only affect NEW androids</ATR_AndroidGenderNotice>
	<ATR_AndroidsHaveGenders>Androids have genders</ATR_AndroidsHaveGenders>
	<ATR_AndroidsPickGenders>Androids pick gender upon creation</ATR_AndroidsPickGenders>
	<ATR_AndroidsFixedGenderSelector>All androids are male (false) or female (true)</ATR_AndroidsFixedGenderSelector>
	<ATR_AndroidsGenderRatio>Chance for android to pick male gender vs female gender</ATR_AndroidsGenderRatio>

		<!-- Commonality Settings -->
	<ATR_PlayerOnlyNote>If disabled, androids will only exist when built by the player</ATR_PlayerOnlyNote>
	<ATR_AndroidsAppearNaturally>Androids can appear as parts of factions or events</ATR_AndroidsAppearNaturally>

	<ATR_AndroidFactionSettings>What role do android factions play? Only affects NEW games</ATR_AndroidFactionSettings>
	<ATR_AndroidSocietiesExist>Androids have their own factions</ATR_AndroidSocietiesExist>
	<ATR_AndroidRaidersExist>Androids have formed their own pirate collective</ATR_AndroidRaidersExist>
	<ATR_AndroidRaidersDesc>Acts like vanilla's Pirate faction</ATR_AndroidRaidersDesc>
	<ATR_AndroidUnionistsExist>Androids dedicated to collective survival have unified</ATR_AndroidUnionistsExist>
	<ATR_AndroidUnionistsDesc>Acts like vanilla's Outlander faction</ATR_AndroidUnionistsDesc>

        <!-- Permission Settings-->
    <ATR_bedRestrictionDefaultsToAll>Beds default to All pawns rather than Mechanical/Organic</ATR_bedRestrictionDefaultsToAll>
    <ATR_bedRestrictionDefaultsToAllDesc>By default, charging beds from this mod default to mechanical only, and all other beds default to organic only.</ATR_bedRestrictionDefaultsToAllDesc>

        <!-- Consideration Settings -->
    <ATR_isUsingCustomConsiderations>Using custom config and will not reset: {0}</ATR_isUsingCustomConsiderations>
    <ATR_isUsingCustomConsiderationsDesc>If false, ATR will automatically regenerate what is/isn't mechanical at game startup so that it can catch new modded races for you.</ATR_isUsingCustomConsiderationsDesc>
    <ATR_resetCustomConsiderations>Reset considerations</ATR_resetCustomConsiderations>
	<ATR_SettingsConsideredAndroid>Androids</ATR_SettingsConsideredAndroid>
	<ATR_SettingsNotConsideredAndroid>Not Androids</ATR_SettingsNotConsideredAndroid>
	<ATR_SettingsConsideredDrone>Drones</ATR_SettingsConsideredDrone>
	<ATR_SettingsNotConsideredDrone>Not Drones</ATR_SettingsNotConsideredDrone>
	<ATR_SettingsConsideredAnimal>Mechanical Animals</ATR_SettingsConsideredAnimal>
	<ATR_SettingsNotConsideredAnimals>Organic Animals</ATR_SettingsNotConsideredAnimals>

        <!-- Android Faction Settings -->
    <ATR_AndroidFactionsNeverFlee>Android factions never flee from battle</ATR_AndroidFactionsNeverFlee>

        <!-- Rights Settings -->
    <ATR_factionsWillDeclareRightsWars>Factions will declare war over rights disputes</ATR_factionsWillDeclareRightsWars>
    <ATR_factionsWillDeclareRightsWarsDesc>Factions that are anti-mechanical or anti-organic will declare war on you if you have mechanical/organic colonists</ATR_factionsWillDeclareRightsWarsDesc>

    <ATR_SettingsAntiMechanicalFaction>Factions without mechanical rights</ATR_SettingsAntiMechanicalFaction>
    <ATR_SettingsTolerateMechanicalFaction>Factions tolerating mechanicals</ATR_SettingsTolerateMechanicalFaction>
    <ATR_SettingsAntiOrganicFaction>Factions without organic rights</ATR_SettingsAntiOrganicFaction>
    <ATR_SettingsTolerateOrganicFaction>Factions tolerating organics</ATR_SettingsTolerateOrganicFaction>

    <ATR_dronesTriggerRightsWars>Anti-mechanical factions declare war over drones</ATR_dronesTriggerRightsWars>
    <ATR_prisonersTriggerRightsWars>Factions declare war over prisoners</ATR_prisonersTriggerRightsWars>
    <ATR_slavesTriggerRightsWars>Factions declare war over slaves</ATR_slavesTriggerRightsWars>
    <ATR_surrogatesTriggerRightsWars>Factions declare war over surrogates</ATR_surrogatesTriggerRightsWars>

	<!-- Needs Settings -->
	<ATR_AndroidOnlyNotice>Note: Only units marked as androids are affected by this. Drones have no such needs.</ATR_AndroidOnlyNotice>
	<ATR_AndroidsNeedJoy>Androids need to fulfill joy needs</ATR_AndroidsNeedJoy>
	<ATR_AndroidsNeedBeauty>Androids need to fulfill beauty needs</ATR_AndroidsNeedBeauty>
	<ATR_AndroidsNeedComfort>Androids need to fulfill comfort needs</ATR_AndroidsNeedComfort>
	<ATR_AndroidsNeedOutdoors>Androids need to fulfill outdoors/indoors needs</ATR_AndroidsNeedOutdoors>

	<ATR_SettingsPresetDefault>Default</ATR_SettingsPresetDefault>
	<ATR_SettingsPresetCustom>Custom</ATR_SettingsPresetCustom>

	<!-- Power Settings -->
	<ATR_wattsConsumedPerBodySize>Power use per 1 body size when charging [default: 500]</ATR_wattsConsumedPerBodySize>
	<ATR_batteryPercentagePerRareTick>Percentage of battery charged per Rare Tick (~4 seconds) [default: 7%]</ATR_batteryPercentagePerRareTick>
	<ATR_batteryPercentagePerTick>Battery charge rate [default: 1]</ATR_batteryPercentagePerTick>
	<ATR_mechanicalsHaveDifferentBioprocessingEfficiency>Mechanical units handle nutrition differently than organics.</ATR_mechanicalsHaveDifferentBioprocessingEfficiency>
	<ATR_mechanicalBioprocessingEfficiency>Nutrition efficiency [default: 50%]</ATR_mechanicalBioprocessingEfficiency>

	<!-- Security Settings -->
        <!-- Hostile Hacking -->
	<ATR_EnemyHacksOccur>Hostile hacking is enabled.</ATR_EnemyHacksOccur>
	<ATR_ChanceAlliesInterceptHack>Chance to intercept hacks against you per allied faction</ATR_ChanceAlliesInterceptHack>
	<ATR_ChanceAlliesInterceptHackDesc>Percent chance that allied factions will save you from a successful enemy hack, preventing damage and actually giving you security points. This is PER ALLY.</ATR_ChanceAlliesInterceptHackDesc>
	<ATR_PointsGainedOnInterceptPercentage>Points gained when allies intercept as percentage of attack</ATR_PointsGainedOnInterceptPercentage>
	<ATR_PointsGainedOnInterceptPercentageDesc>When an ally intercepts an attack against you, they donate security points to you. This controls what percentage of the raid points they give you.</ATR_PointsGainedOnInterceptPercentageDesc>
	<ATR_EnemyHackAttackStrengthModifier>Enemy hack strength modifier</ATR_EnemyHackAttackStrengthModifier>
	<ATR_EnemyHackAttackStrengthModifierDesc>Multiplicative modifier on how many hacking points enemy hacking incidents will have. Less than 100% reduces intensity, greater than 100% raises intensity.</ATR_EnemyHackAttackStrengthModifierDesc>
	<ATR_PercentageOfValueUsedForRansoms>Percentage of item value demanded in ransom attack</ATR_PercentageOfValueUsedForRansoms>

        <!-- Player Hacking -->
    <ATR_PlayerCanHack>Player hacking is enabled.</ATR_PlayerCanHack>
    <ATR_receiveFullHackingAlert>Alert for hacking points exceeding 90% of capacity.</ATR_receiveFullHackingAlert>
    <ATR_RetaliationChanceOnFailure>Chance the target faction will retaliate on a failed hack</ATR_RetaliationChanceOnFailure>
    <ATR_MinHackSuccessChance>Minimum chance of a successful hack</ATR_MinHackSuccessChance>
    <ATR_MaxHackSuccessChance>Maximum chance of a successful hack</ATR_MaxHackSuccessChance>

    <!-- Health Settings -->
        <!-- Medical -->
    <ATR_medicinesAreInterchangeable>Organic/Mechanical medicines are interchangeable.</ATR_medicinesAreInterchangeable>
    <ATR_showMechanicalSurgerySuccessChance>Display success chance of completed mechanical surgeries.</ATR_showMechanicalSurgerySuccessChance>
    <ATR_maxChanceMechanicOperationSuccess>Max success change for mechanical surgeries</ATR_maxChanceMechanicOperationSuccess>
    <ATR_chanceFailedOperationMinor>Chance failed mechanical surgeries are minor [default 75%]</ATR_chanceFailedOperationMinor>
    <ATR_chancePartSavedOnFailure>Chance that parts are returned from failed mechanical surgeries [default 75%]</ATR_chancePartSavedOnFailure>

        <!-- Maintenance -->
    <ATR_maintenanceNeedExists>Mechanical units need maintenance.</ATR_maintenanceNeedExists>
    <ATR_receiveMaintenanceFailureLetters>Receive letters about maintenance-related health issues.</ATR_receiveMaintenanceFailureLetters>
    <ATR_maintenancePartFailureRateFactor>How long before poor maintenance can result in part failures and the odds that no failure occurs</ATR_maintenancePartFailureRateFactor>
    <ATR_maintenanceFallRateFactor>How quickly maintenance falls naturally</ATR_maintenanceFallRateFactor>
    <ATR_maintenanceGainRateFactor>How quickly maintenance is gained when doing maintenance</ATR_maintenanceGainRateFactor>

        <!-- Hediffs -->
    <ATR_hediffBlacklistWarning>Warning: The longer the list of blacklisted hediffs is, the more performance impact on the game it will have.</ATR_hediffBlacklistWarning>
    <ATR_settingsBlacklistedMechanicalHediffs>Blacklisted Mechanical Hediffs</ATR_settingsBlacklistedMechanicalHediffs>
    <ATR_settingsAllowedMechanicalHediffs>Allowed Mechanical Hediffs</ATR_settingsAllowedMechanicalHediffs>

	<!-- Connectivity Settings -->
        <!-- Surrogates -->
    <ATR_surrogatesAllowed>Surrogates are permitted.</ATR_surrogatesAllowed>
    <ATR_otherFactionsAllowedSurrogates>Other factions may use surrogates.</ATR_otherFactionsAllowedSurrogates>
    <ATR_minGroupSizeForSurrogates>Number of members for faction groups to spawn with surrogates</ATR_minGroupSizeForSurrogates>
    <ATR_minSurrogatePercentagePerLegalGroup>Minimum percentage of surrogates in legal groups [default 20%]</ATR_minSurrogatePercentagePerLegalGroup>
    <ATR_maxSurrogatePercentagePerLegalGroup>Maximum percentage of surrogates in legal groups [default 70%]</ATR_maxSurrogatePercentagePerLegalGroup>
    <ATR_displaySurrogateControlIcon>Display floating icon above controlled surrogates.</ATR_displaySurrogateControlIcon>
    <ATR_safeSurrogateConnectivityCountBeforePenalty>Surrogates per controller before penalties:</ATR_safeSurrogateConnectivityCountBeforePenalty>

        <!-- Skills -->
    <ATR_receiveFullSkillAlert>Alert for skill points exceeding 90% of capacity.</ATR_receiveFullSkillAlert>
	<ATR_skillPointInsertionRate>Amount of skill points used per insertion [default: 100]</ATR_skillPointInsertionRate>
	<ATR_skillPointConversionRate>Amount of base XP generated per skill point [default: 0.5]</ATR_skillPointConversionRate>
	<ATR_passionSoftCap>Passion soft-cap before cost increases per passion [default: 8]</ATR_passionSoftCap>
	<ATR_basePointsNeededForPassion>Base skill points needed per passion [default: 5000]</ATR_basePointsNeededForPassion>

        <!-- Cloud -->
    <ATR_UploadingKills>Uploading to SkyMind turns the initiator's body into a blank.</ATR_UploadingKills>
    <ATR_UploadingPermakills>Uploading to SkyMind leaves the initiator's body completely useless and dead.</ATR_UploadingPermakills>
    <ATR_SkyMindOperationTimeRequired>Hours required to complete SkyMind operations [default: 24]</ATR_SkyMindOperationTimeRequired>

    <!-- Stats Settings -->
        <!-- Traits -->
    <ATR_traitBlacklistWarning>Warning: The longer the list of blacklisted traits is, the more performance impact on the game it will have.</ATR_traitBlacklistWarning>
    <ATR_settingsBlacklistedMechanicalTraits>Blacklisted Mechanical Traits</ATR_settingsBlacklistedMechanicalTraits>
    <ATR_settingsAllowedMechanicalTraits>Allowed Mechanical Traits</ATR_settingsAllowedMechanicalTraits>

</LanguageData>